@charset "UTF-8";



#subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 25px;
}


#sale_section{
	margin-left : 150px;
}

#sale_section select{
	width : 100px;
}

#container2{
	border-bottom : 1px dashed #000;
	border-left : 1px dashed #000;
	height : 380px;
	width : 650px;
	position : relative;
	left : 547px;
	top : -800px;
}

#sale_find{
	display : inline-block;
	margin-left : 360px;
	margin-bottom : 30px;
	font-size : 2em;
	background-color : #a5ea89;
	width : 150px;
	text-align : center;
}

#sale_date{
	float : right;
}

#sale_date input{
	width : 150px;
}

#sale_doc{
	width : 310px;
	float : right;
	text-align : right;
	margin-top : -50px;
}

#top_title{
	position : relative;
	font-size : 3em;
	left : 330px;
}

#top1{
	display : inline-block;
	width : 400px;
	text-align : center;
	font-size : 3em;
	position : relative;
}

#top2{
	display : inline-block;
	position : relative;
	width : 350px;
	text-align : center;
	left : 90px;
	top : -50px;
	font-size : 2em;
}

#top3{
	display : inline-block;
	position : relative;
	width : 350px;
	text-align : center;
	left : 150px;
	top : -80px;
	font-size : 1.5em;
}

#cancelBtn{
	height : 50px;
	width : 100px;
	background-color : #9997;
	border : none;
	border-radius : 15px;
	font-size : 15px;
	margin-top : 100px;
	margin-left : 550px;
}

#cancelBtn:hover{
	cursor : pointer;
	background-color : #999;
}

#sale_img{
	background-image: url("../img/centerstoresale.png");
	background-size : cover;
	background-repeat : no-repeat;
	position : relative;
	width : 1050px;
	height : 800px;
	left : -140px;
	bottom : 200px;
	background-size: contain;
	display: inline-block;
	margin-top: 28px;
}
#top_list{
	position: relative;
	top : -740px;
}


#gold{
	
	color: #D5A11E;
}
#s{
	color :#A3A3A3;
}
#b{
	color :#CD7F32;
}
