@charset "UTF-8";
#center_notiInput {
	width : 1200px;
	margin : 20px auto;
	line-height : 1.4em;
}

#center_notiInput #subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 38px;
}

#center_notiInput .frm_center_notiInput label{
	display : inline-block;
	width : 45px;
}

#center_notiInput .btns{
	margin-left : 500px;
}

#center_notiInput .btns button[name = input]{
	height : 50px;
	width : 100px;
	background-color : #9997;
	border : none;
	border-radius : 15px;
	font-size : 15px;
	margin-top : 50px;
}

#center_notiInput .btns button[name = back]{
	height : 50px;
	width : 100px;
	background-color : #9997;
	border : none;
	border-radius : 15px;
	font-size : 15px;
}

#center_notiInput .btns button:hover{
	cursor : pointer;
	background-color : #999;
}