@charset "UTF-8";
#subject{
   text-align : center;
   font-size: 3em;
   background-color : #9997;
   height : 90px;
   margin-bottom : 20px;
   padding-top : 20px;
}
#sub{
   text-align : center;
   font-size: 2em;
   height : 50px;
   margin-bottom : 20px;
   padding-top : 20px;
   font: bold;
}












 