@charset "UTF-8";
@charset "UTF-8";

/*
	center css 07-12 JR
*/

#container{
	width : 1200px;
	margin : 0 auto;
	min-height : 500px;
}

#top_logo{
	height : 100px;
}

#top_logo #Logo{
   background-image: url("../img/title.png");
   background-size : cover;
   background-repeat : no-repeat;
   position : relative;
   width : 500px;
   height : 150px;
   left : 400px;
   background-size: contain;
}

#title_menu{
	float : right;
	margin-top : 60px;
}

#title_menu>ul{
	 color : #fff;
   height : 40px;

}

#title_menu>ul li{
	display : inline-block;
   padding : 8px 10px;
   font-size : 1.1em;

}

#section{
	width : 1200px;
   margin-top : 150px;

}

#homeBtn{
	height : 50px;
	width : 100px;
	background-color : #9997;
	border : none;
	border-radius : 15px;
	font-size : 17px;
	font-weight : bold;
	margin-bottom : 20px;
	position : relative;
	left : 1100px;
	   top : -160px;
}

#homeBtn:hover{
	cursor : pointer;
	background-color : #999;
}

#loginIdprint{
	font-size: 0.4cm;
	font-family: sans-serif;
	position: relative;
	left : 1110px;
}
