@charset "UTF-8";
#noti_view {
	width : 1200px;
	margin : 20px auto;
	line-height : 1.4em;
}

#noti_view #subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 38px;
}

#noti_view .frm_noti_view label{
	display : inline-block;
	width : 45px;
}

#noti_view .btns{
	margin-left : 450px;
}

#noti_view .btns button[name = update]{
	margin : 5px;
	height : 30px;
	width : 80px;
	background-color : #a5ea89;
	border : none;
	border-radius : 10px;
	font-size : 15px;
	color : #666666;
	font-weight : bold;
}

#noti_view .btns button[name = delete]{
	margin : 5px;
	height : 30px;
	width : 80px;
	background-color : #a5ea89;
	border : none;
	border-radius : 10px;
	font-size : 15px;
	color : #666666;
	font-weight : bold;
}

#noti_view .btns button[name = back]{
	margin : 5px;
	height : 30px;
	width : 80px;
	background-color : #a5ea89;
	border : none;
	border-radius : 10px;
	font-size : 15px;
	color : #666666;
	font-weight : bold;
}

#noti_view .btns button:hover{
	background-color : #5ad226;
	cursor : pointer;
}


#noti_view .doc{
	position: relative;
	width: 1150px;
	height: 300px;
}

#backbox{
	position: relative;
	left:100px;
}

#upade{
	position: relative;
	left: 47px;
	top : -45px;
	height: 10px;
}

