@charset "UTF-8";
#noti_view {
	width : 1200px;
	margin : 20px auto;
	line-height : 1.4em;
}

#noti_view #subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 38px;
}

#noti_view .frm_noti_view label{
	display : inline-block;
	width : 45px;
}

#noti_view .btns{
	margin-left : 480px;
}

#noti_view .btns button[name = update]{
	background-color : #88f;
	color : #fff;
	font-weight : bold;
	margin : 5px;
	height : 30px;
	width : 70px;
	border-radius : 10px;
	border : none;
}

#noti_view .btns button[name = delete]{
	background-color : #88f;
	color : #fff;
	font-weight : bold;
	margin : 5px;
	height : 30px;
	width : 70px;
	border-radius : 10px;
	border : none;
}

#noti_view .btns button[name = back]{
	background-color : #88f;
	color : #fff;
	font-weight : bold;
	margin : 5px;
	height : 30px;
	width : 70px;
	border-radius : 10px;
	border : none;
}