@charset "UTF-8";

#orderStatus{
	padding : 0;
	margin-top : 20px;
	width : 1200px;
	line-height : 2em;
}

#subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 38px;
}

#orderStatus .time{
	display : inline-block;
	padding : 50px;
	width : 150px;
	font : bold	 xx-large generic-family;
}

#orderStatus .info{
	display : inline-block;
	width : 400px;
	margin : 0 30px;
}

#orderStatus .info>.method{
	display : inline-block;
	background-color : #ddd;
	border : 1px solid #000;
	padding : 2px;
	color : #f22;
	font : bold small generic-family;
	width : 80px;
}

#orderStatus .info>.amount{
	display : inline-block;
	width : 150px;
	font : bold medium generic-family;
}

#orderStatus .info>.menu{
	font-size : 11px;
}

#orderStatus .info>.address{
	font : bold medium generic-family;
}

#orderStatus .btns{
	display : inline-block;
	padding : 50px;
	width : 350px;
}

#orderStatus .btns button[name = accept]{
	background-color : #6f6;
	font : bold	 xx-large generic-family;
	color : #fff;
	margin : 0 15px;
	width : 140px;
	height : 100px;
	border : none;
	border-radius : 10px;
}

#orderStatus .btns button:hover[name = accept]{
	background-color : #0f0;
	cursor : pointer;
}

#orderStatus .btns button[name = deny]{
	background-color : #f66;
	font : bold	 xx-large generic-family;
	color : #fff;
	margin : 0 15px;
	width : 140px;
	height : 100px;
	border : none;
	border-radius : 10px;
}

#orderStatus .btns button:hover[name = deny]{
	background-color : #f00;
	cursor : pointer;
}