@charset "UTF-8";
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}

#subject{
	text-align : center;
	font-size: 3em;
    background-color : #9997;
    height : 90px;
    margin-bottom : 20px;
    padding-top : 15px;
}

#Input .right{
	display: inline-block;
	margin: 20px 0px;
	float: right;
}

#Input .right label{
	display : inline-block;
	width : 100px;
	padding: 3px;
}

#Input .right doc{
	overflow: scroll;
}
.subList{
	width:450px;
	height:500px;
	overflow: scroll;
	
}
.subList .items{
	width:450px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.subList .items span:nth-child(1){width: 50px;}
.subList .items span:nth-child(2){width: 200px;}
.subList .items span:nth-child(3){width: 50px;}
.subList .items span:nth-child(4){width: 70px;}
#Input .btn button[name = btnInsert ]{
	margin : 5px;
	height : 30px;
	width : 80px;
	background-color : #a5ea89;
	border : none;
	border-radius : 10px;
	font-size : 15px;
	color : #666666;
	font-weight : bold;
}
#Input .btn button[name = btnCancel ]{
	margin : 5px;
	height : 30px;
	width : 80px;
	background-color : #a5ea89;
	border : none;
	border-radius : 10px;
	font-size : 15px;
	color : #666666;
	font-weight : bold;
}

.title {
	background:#5ad226;
	display: flex;
	font-size: 30px;
	height: 40px;
	text-align:center;
	width:683px;
	flex-direction: row;
	justify-content:space-around;
	font-weight: bold;	
}

.orderInput_list .items{
	font-weight:600;
	margin:1px 0;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	border-bottom : 1px solid #666666;
}
.title span{
	display:block;
	box-sizing:border-box;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size: 15px;
	margin: 6px;
}
.items span{
	display:block;
	box-sizing:border-box;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size: 15px;
	margin: 6px;
}

.items span input{
	width:60px;
}
#orderInput{
	width : 700px;
}

#Input .orderInput_list{
	overflow: scroll;
	width: 700px;
	height: 600px;
}

.title span:nth-child(1){width:60px}
.title span:nth-child(2){width:434px}
.title span:nth-child(3){width:60px}
.title span:nth-child(3){width:60px}

.items span:nth-child(1){width:60px}
.items span:nth-child(2){width:434px}
.items span:nth-child(3){width:60px}
.items span:nth-child(3){width:60px}
