@charset "EUC-KR";

/*
	store css 07-12 JR
*/
*{
		font-family: 'Poor Story', cursive;
		font-size: 1.04em;
}
#container{
	width : 1200px;
	margin : 0 auto;
	min-height : 500px;
}

#top_logo{
	height : 100px;
}

#top_logo #Logo{
	background-image: url("../img/logo.png");
	background-size : cover;
	background-repeat : no-repeat;
	position : relative;
	width : 500px;
	height : 150px;
	left : 400px;
	background-size: contain;
}

#store_logoutBtn{
	height : 50px;
	width : 100px;
	background-color : #9997;
	border : none;
	border-radius : 15px;
	font-size : 17px;
	font-weight : bold;
	margin-bottom : 20px;
	position : relative;
	left : 1100px;
	top : -90px;
}


#store_logoutBtn:hover{
	cursor : pointer;
	background-color : #999;
}

#title_menu{
	float : right;
	margin-top : 60px;
}

#title_menu>ul{
	color : #fff;
	height : 40px;
}

#title_menu>ul li{
	display : inline-block;
	padding : 8px 10px;
	font-size : 1.1em;
	color: #606a44;
	font-weight: bold;
	font-family: 'Poor Story', cursive;
}



#title_menu>ul>li> a{
	text-decoration: none;
}


#section{
	width : 1200px;
	margin-top : 150px;
}


#loginIdprint{
	font-size: 0.6cm;
	font-family: sans-serif;
	position: relative;
	left : 950px;
	top : -40px;
}

#slogan{
	position:relative;
	background-image: url("../img/slogan.png");
	background-size : cover;
	background-repeat : no-repeat;
	width:1000px;
	height:1000px;
	left : 140px;
	background-size: contain;
}

#user_name{
	position:relative;
	background-image: url("../img/store.png");
	background-size : cover;
	background-repeat : no-repeat;
	width:500px;
	height:500px;
	left : 125px;
	top : -1100px;
	background-size: contain;
}
#Logo{
	cursor : pointer;
}

